/* 
Paletas de colores
https://es.venngage.com/blog/paletas-de-colores-pastel/ 
*/

.barraNav{
    background-color: #b2d9f7;
}

.registro, .producto, .reporte, .venta{
    height: 175px;
    background-color: #52b2fc;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.registro:hover, .producto:hover, .reporte:hover, .venta:hover {
    transform: scale(1.05);
}

.imgopc{
    height: 145px;
}
